/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
*/
@font-face {
    font-family: "Oswald";
    src: url('components/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Oswald-Light";
    src: url('components/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Oswald-Bold";
    src: url('components/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Cabin Sketch";
    src: url('components/fonts/CabinSketch-Regular.ttf') format('truetype');
}

body {
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    background: #e74c3c;
    color: white;
}

.header {
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
    font-size: 48px;
}


.well-white {
    background: #ecf0f1;
    color: #34495e;
    border: none;
}

.well-cloud {
    background: white;    
    border: none;
    border-radius: 0;
}

.post-title {
    font-size: 24px;
    font-family: "Oswald-Light";
}

.post-total {
    font-size: 26px;
    font-family: "Oswald-Light";
}

textarea {
    resize: none;
    background: #34495e !important;
    color:white !important;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
}


input {
    resize: none;
    background: #34495e !important;
    color:white !important;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
}

/* Gradient transparent - color - transparent */
		
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.btn-circle {
  outline: none;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.btn-circle:focus {
    outline: none !important;
}

.turquoise {
    background: #1abc9c;
}

.turquoise-border {
    border-left: #1abc9c 5px solid;
}

.emerald {
    background: #2ecc71;
}

.emerald-border {
    border-left: #2ecc71 5px solid;
}

.amethyst {
    background: #9b59b6;
}

.amethyst-border {
    border-left: #9b59b6 5px solid;
}

.pomegranate {
    background: #c0392b;
    color: white;
}

.pomegranate-border {
    border-left: #c0392b 5px solid;
}

.asbestos {
    background: #7f8c8d;
}

.asbestos-border {
    border-left: #7f8c8d 5px solid;
}

.wet-asphalt {
    background: #34495e;
    color: white;
}

.wet-asphalt-border {
    border-left: #34495e 5px solid;
}

.sun-flower {
    background: #f1c40f;
}

.sun-flower-border {
    border-left: #f1c40f 5px solid;
}

.alizarin {
    background: #e74c3c;
    color: white;
}

.alizarin-border {
    border-left: #e74c3c 5px solid;
}

.belize-hole {
    background: #2980b9;
    color: white;
}

.belize-hole-border {
    border-left: #2980b9 5px solid;
}

.btn-wide {
    padding-left:45px !important;
    padding-right: 45px;
}

.display-name {
    font-size: 20px;
}

.display-designation {
    font-size: 16px;
    color: #7f8c8d; 
}

.display-company {
    font-size: 18px;
    text-decoration: underline; 
}

.display-website {
    font-size: 16px;
}

.display-email {
    font-size: 16px;
}

.display-address {
    font-size: 16px;
}

.btn:hover {
    color:white;
    text-decoration: underline;
}

.btn:active {
    color:white;
}

input.ng-invalid.ng-dirty {
    background-color: #c0392b !important;
}

textarea.ng-invalid.ng-dirty {
    background-color: #c0392b !important;
}

.btn:visited {
    color:white;
}

.welcome {
    font-family: "Cabin Sketch", cursive;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 30px;
}

.welcome-date {
    font-family: "Cabin Sketch", cursive;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

.phone-form-repeat.ng-enter,
.phone-form-repeat.ng-move {
  -webkit-animation: fadeIn 1s;
}

.phone-form-repeat.ng-leave {
  -webkit-animation: fadeOut 0.5s;
}


.contact-form-appear.ng-enter {
    -webkit-animation: zoomIn 0.4s;
}

.contact-list-appear.ng-enter {
    -webkit-animation: zoomIn 0.7s;
}
/*
 * I suck at CSS. Hat-tip to: http://www.webtipblog.com/adding-scroll-top-button-website/
 */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #7f8c8d;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    left: 50px;
    bottom: 50px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #34495e;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
