<!-- CONTACT LIST -->
<div class="col-md-7" ng-controller="ContactListCtrl">
    <div class="well well-white">
        <div class="pull-left post-title">[ Contact List ]</div>
        <div class="pull-right post-total">[ {{ contactList.length }} ]</div>
        <div class="clearfix"></div>

        <hr class="style-two">
        <div class="well well-cloud">
            <!-- Single button -->
            <div class="btn-group">
                <button type="button"
                        class="btn wet-asphalt btn-sm dropdown-toggle" 
                        data-toggle="dropdown">
                    {{ predicate.label|uppercase }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="p in props" ng-click="$parent.predicate = p"><a href="#">{{ p.label|uppercase }}</a></li>
                </ul>
            </div>
            <button class="btn btn-sm amethyst" 
                    ng-click="reverse = false">
                <i class="fa fa-sort-alpha-asc"></i>
            </button>
            <button class="btn btn-sm belize-hole" 
                    ng-click="reverse = true">                                                
                <i class="fa fa-sort-alpha-desc"></i>
            </button>
            <! -- -->
            <button class="btn btn-sm alizarin pull-right" 
                    style="margin-left: 5px"
                    ng-click="search = null">
                <i class="fa fa-remove"></i>
            </button>
            <input class="input input-sm pull-right" ng-model="search" />
            <div class="clearfix"></div>
        </div>
        <div ng-repeat="contact in contactList|filter:search|orderBy:predicate.value:reverse track by $index"
             class="contact-list-repeat">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-cloud" ng-class="getColor(contact.color)">
                        <span class="display-name" 
                              style="color: #c0392b"
                              ng-show="contact.favorite"><i class="fa fa-heart"></i></span>
                        <span class="display-name">{{ contact.name }}</span>
                        <span class="display-designation">{{ contact.designation }}</span>
                        <span class="pull-right">
                            <button class="btn btn-circle sun-flower" ng-click="edit(contact)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-circle pomegranate" ng-click="delete(contact)">
                                <i class="fa fa-trash-o" style="color:white"></i>
                            </button>
                            <button class="btn btn-circle amethyst" ng-click="toggleFavorite(contact)">
                                <i class="fa fa-heart-o" style="color:white"></i>
                            </button>
                        </span>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="display-company">{{ contact.company }}</div>
                        <div class="display-website">
                            <a href="http://{{ contact.website }}">{{ contact.website }}</a>
                        </div>
                        <div class="display-address">
                            {{ contact.address }}
                        </div>
                        <div ng-repeat="p in contact.phones">
                            {{ p.number }} [{{ p.type.label }}]
                        </div>
                        <span class="display-email">
                            {{ contact.email }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /CONTACT LIST -->

