<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{AngularConf 2014}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" ng-controller="FormCtrl">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-white">
                        <span class="pull-left post-title"
                              contenteditable
                              ng-model="contact.name"></span>
                        <span class="pull-right post-title"
                              contenteditable
                              ng-model="contact.designation"></span>
                        <div class="clearfix"></div>
                        
                        <hr class="style-two" />
                        
                        <div class="form-group">
                            <input type="text" 
                                   class="form-control" 
                                   ng-model="contact.company"
                                   placeholder="[ Company Name ]">
                        </div>
                        <div class="form-group">
                            <input type="email" 
                                   class="form-control" 
                                   ng-model="contact.email"
                                   placeholder="[ Email ]">
                        </div>
                        <div class="form-group">
                            <input type="text" 
                                   class="form-control" 
                                    ng-model="contact.website"
                                   placeholder="[ Website ]">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" 
                                      rows=4 
                                      ng-model="contact.address"
                                      placeholder="[ Address ]">
                            </textarea>
                        </div>
                        <div ng-repeat="phone in contact.phones">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-group select"
                                            style="width: 100%"
                                            ng-model="phone.type"
                                            ng-options="i as i.label for i in phone_types track by i.label"></select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" 
                                               class="form-control" 
                                               ng-model="phone.number"
                                               placeholder="[ Number ]" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="form-control btn btn-sm alizarin"
                                                ng-click="removePhone($index)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-left" style="margin-top: 10px">
                                <button class="btn btn-circle emerald" ng-click="setColor('emerald')">
                                    <span ng-show="contact.color == 'emerald'"><i class="fa fa-check"></i></span>
                                </button>
                                <button class="btn btn-circle amethyst" ng-click="setColor('amethyst')">
                                    <span ng-show="contact.color == 'amethyst'"><i class="fa fa-check"></i></span>
                                </button>
                                <button class="btn btn-circle sun-flower" ng-click="setColor('sun-flower')">
                                    <span ng-show="contact.color == 'sun-flower'"><i class="fa fa-check"></i></span>
                                </button>
                                <button class="btn btn-circle pomegranate" ng-click="setColor('pomegranate')">
                                    <span ng-show="contact.color == 'pomegranate'"><i class="fa fa-check"></i></span>
                                </button>
                                <button class="btn btn-circle asbestos" ng-click="setColor('asbestos')">
                                    <span ng-show="contact.color == 'asbestos'"><i class="fa fa-check"></i></span>
                                </button>
                            </div>
                            <div class="pull-right" 
                                 ng-click="addPhone()"
                                 style="margin-top: 10px">
                                <button class="btn belize-hole btn-wide">
                                    <i class="fa fa-phone"></i>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-white">
                        <center>
                            <button class="btn btn-lg alizarin" ng-click="clearContact()">Clear</button>
                            <button class="btn btn-lg wet-asphalt" ng-click="saveContact()">Save</button>
                        </center>
                    </div>
                </div>
            </div>        
        </div>
        <!-- CONTACT LIST -->
        <div class="col-md-7" ng-controller="ContactListCtrl">
            <div class="well well-white">
                <div class="pull-left post-title">[ Contact List ]</div>
                <div class="pull-right post-total">[ {{ contactList.length }} ]</div>
                <div class="clearfix"></div>

                <hr class="style-two">
                <div class="well well-cloud">

                <!-- Single button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    {{ predicate }} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="p in props" ng-click="alert('HI')"><a>{{ p }}</a></li>
                  </ul>
                </div>



                    <button class="btn btn-sm wet-asphalt" 
                            ng-click="reverse = false">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </button>
                    <button class="btn btn-sm belize-hole" 
                            ng-click="reverse = true">                                                
                        <i class="fa fa-sort-alpha-desc"></i>
                    </button>
                    <! -- -->
                    <button class="btn btn-sm alizarin pull-right" 
                            style="margin-left: 5px"
                            ng-click="search = null">
                        <i class="fa fa-remove"></i>
                    </button>
                    <input class="input input-sm pull-right" ng-model="search" />
                    <div class="clearfix"></div>
                </div>
                <div ng-repeat="contact in contactList|filter:search|orderBy:predicate:reverse track by $index">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well well-cloud" ng-class="getColor(contact.color)">
                                <span class="display-name" 
                                      style="color: #c0392b"
                                      ng-show="contact.favorite"><i class="fa fa-heart"></i></span>
                                <span class="display-name">{{ contact.name }}</span>
                                <span class="display-designation">{{ contact.designation }}</span>
                                <span class="pull-right">
                                    <button class="btn btn-circle sun-flower" ng-click="edit(contact)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-circle pomegranate" ng-click="delete(contact)">
                                        <i class="fa fa-trash-o" style="color:white"></i>
                                    </button>
                                    <button class="btn btn-circle amethyst" ng-click="toggleFavorite(contact)">
                                        <i class="fa fa-heart-o" style="color:white"></i>
                                    </button>
                                </span>
                                <div class="clearfix"></div>
                                <hr />
                                <div class="display-company">{{ contact.company }}</div>
                                <div class="display-website">
                                    <a href="http://{{ contact.website }}">{{ contact.website }}</a>
                                </div>
                                <div class="display-address">
                                    {{ contact.address }}
                                </div>
                                <div ng-repeat="p in contact.phones">
                                    {{ p.number }} [{{ p.type.label }}]
                                </div>
                                <span class="display-email">
                                    {{ contact.email }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /CONTACT LIST -->
    </div>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
  <script src="directives.js"></script>
  <script src="app.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <script>
  </script>
</body>
</html>
